.side-bar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.side-bar img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: .3s;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    height: 0;
    transition: 300ms;
}

.sidebar-list-active{
    height: 300px;
}

.add-image-rotate{
    transform: rotate(90deg);
}

.sidebar-list-item{
    border-radius: 50%;
    height: 26px;
    width: 26px;
    list-style: none;
}